/target/
workspace/rest_api_dec_2025_session/hs_err_pid16192.log
workspace/rest_api_dec_2025_session/hs_err_pid17036.log
workspace/rest_api_dec_2025_session/replay_pid17036.log
.allure/
.classpath
.project
.settings/
target/
test-output/
allure-results/
src/test/resources/secret.properties
reports-html/
allure-report/
test-evidences/
reports/
node_modules/
package-lock.json
cucumber-reports/
cucumber-report/
secret.properties